@font-face {
    src: url(./fonts/TTLakes-Medium.ttf);
    font-family: "TT Lakes-Medium";
}
  
@font-face {
    src: url(./fonts/TTLakes-Bold.ttf);
    font-family: "TT Lakes-Bold";
}
  
@font-face {
    src: url(./fonts/TTLakes-DemiBold.ttf);
    font-family: "TT Lakes-Demi";
}

* {
    margin: 0;
    padding: 0;
    border: none;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.technique-brands {
    width: 100%;
    min-width: 320px;
    height: 234px;
    box-sizing: border-box;
}

.technique-brands__header {
    height: 80px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    padding: 16px;
}

.technique-brands__text {
    font-family: sans-serif, "TT Lakes-Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.7;
    text-transform: uppercase;
    color: #7E7E82;
}

.brands-swiper-container {
    width: 240px;
    padding-top: 16px !important; 
    background: #F2F2F2;
}

.brands-swiper__slide {
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 70px !important;
    width: 238px !important;
}

.brands-swiper__button {
    background: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 238px;
    height: 70px;
}

.brands-swiper__img {
    margin: 18px 0 4px 16px;
}

.brands-swiper__button-icon {
    margin: 16px 16px 0 0;
}

.brands-swiper-pagination {
    padding-top: 16px;
    position: static !important;   
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: #DDDDDD !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #B5B6BC !important;
}