@font-face {
    src: url(./fonts/TTLakes-Medium.ttf);
    font-family: "TT Lakes-Medium";
}
  
@font-face {
    src: url(./fonts/TTLakes-Bold.ttf);
    font-family: "TT Lakes-Bold";
}
  
@font-face {
    src: url(./fonts/TTLakes-DemiBold.ttf);
    font-family: "TT Lakes-Demi";
}

* {
    margin: 0;
    padding: 0;
    border: none;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
    background: #F2F2F2;
}

.technique-brands {
    width: 100%;
    min-width: 320px;
    height: 234px;
    box-sizing: border-box;
}

.technique-brands__header {
    background: linear-gradient(270deg, #FFFFFF 30%, #F8F8F8);
    padding: 16px;
}

.technique-brands__text {
    font-family: sans-serif, "TT Lakes-Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.7;
    text-transform: uppercase;
    color: #7E7E82;
    width: 320px;
    margin: 0 auto;
}

.brands-swiper {
    background: #F2F2F2;
    display: block;
}

.brands-swiper__container {
    width: 240px;
    padding-top: 16px !important; 
    background: #F2F2F2;
}

.brands-swiper__slide {
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 70px !important;
    width: 238px !important;
}

.brands-link {
    background: white;
    box-sizing: border-box;
    width: 238px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
}

.brands-link:hover .brands-link__icon {
    opacity: 0.5;
}

.brands-swiper__pagination {
    padding-top: 16px;
    position: static !important;  
    margin-bottom: 38px; 
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: #DDDDDD !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #B5B6BC !important;
}

.brands-container {
    display: flex;
    justify-content: center;
    background: #F2F2F2;
}

.brands-wrapper {
    display: none;
}

.brands-wrapper--appearance {
    animation: appearance 1s;
}

.read-more {
    padding: 24px 0 34px 32px;
    background: #F2F2F2;
    display: none;
}

.read-more__button {
    background: #F2F2F2;    
}

.read-more__button:focus {
    outline: none;
}

.read-more__button:hover .read-more__text {
    color: grey;
}

.read-more__button:active {
    transform: scale(1.05);
}

.read-more__text {
    font-family: "TT Lakes-Medium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.read-more__arrows {
    margin-right: 17px;
}


@media screen and (min-width: 768px) {
    .brands-swiper {
        display: none;
    }    

    .technique-brands__header {
        padding: 16px 0 16px 24px;
        background: linear-gradient(270deg, #FFFFFF 1.39%, #F8F8F8);
    }

    .technique-brands__text {
        width: 768px;
    }

    .brands-wrapper {
        display: flex;
        background: #F2F2F2;
        flex-wrap: wrap;
        padding: 24px 0 0 24px;
        overflow: hidden;
        height: 184px;
        align-content: flex-start;
        max-width: 768px;
    }

    .brands-wrapper__link {
        flex-basis: 224px;
        margin: 0 24px 16px 0;
        border-radius: 6px;
        border: solid 1px #EAEAEA;
    }

    .read-more-wrapper {
        background: #F2F2F2;
    }

    .read-more {
        width: 768px;
    }

    .read-more-wrapper__read-more {
        margin: 0 auto;
    }

    .read-more__arrows {
        display: inline-block;
    }

    .read-more {
        display: block;
    }
}

@media screen and (min-width: 1120px) {
    .technique-brands__header {
        padding: 16px 32px;
    }

    .technique-brands__text {
        width: 100%;
        margin: 0;
    }
    
    .brands-wrapper {
        padding-left: 32px;
        max-width: 1120px;
    }

    .brands-wrapper__link {
        margin-right: 32px;
        flex-basis: 240px;
    }

    .read-more {
        width: 100%;
    }

    .read-more-wrapper__read-more {
        margin: 0;
    }
}